@{
    Layout = null;
}
@using ProcCore.NetExtension;
<!DOCTYPE html>
<!--[if lte IE 8]><html class="ie8" lang="zh-TW"><![endif]-->
<!--[if gte IE 9]><!--><html lang="zh-TW"><!--<![endif]-->
<!-- saved from url=(0014)about:internet -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Resources.Res.System_Name</title>
    <link rel="stylesheet" href="~/_Code/css/css/page.css">
    <!--[if IE 9]><link rel="stylesheet" href="@Url.Content("~/_Code/css/css/ie-page.css")"><![endif]-->

    <script>
        var ver_warn = '@Html.Lang("ver_warn")';
        var lab_input_email = '@Html.Lang("lab_input_email")';
        var vial_img_path = '@Url.Content("~/_Code/Ashx/ValidateCode.ashx")';
        var path_lang = '@Url.Action("ajax_Lang")';
        var ajax_ForgotPassword = '@Url.Action("ajax_ForgotPassword")';
        var ajax_Login = '@Url.Action("ajax_Login")';
        var debug_account = '@ViewData["username"]';
        var debug_password = '@ViewData["password"]';
        var Info_ForgetMial_Success = '@Html.Lang("Info_ForgetMial_Success")';
    </script>
    <script>
        window.hasOwnProperty = window.hasOwnProperty || Object.prototype.hasOwnProperty;
        if (typeof console === "undefined" || typeof console.log === "undefined") {
            console = {};

            console.log = function (msg) {
            };
            console.info = function (msg) {
            };
            console.error = function (msg) {
            };
            console.warn = function (msg) { }
        }
    </script>

    @Scripts.Render("~/login")
    <!--[if lte IE 8]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="@Url.Content("~/Scripts/respond.min.js")"></script>
    <![endif]-->
</head>
<body class="login" ng-app="angularApp">

    <div id="container" ng-controller="ctrl">

        <div id="main">

            <h1 class="logo"><span>@Resources.Res.System_Name</span>Web Manager</h1>
            <p class="copyright">@Html.Lang("copyright")</p>

            <div class="login-box">

                <h3>@Html.Lang("systemlogin")</h3>

                <form ng-submit="submit()">

                    <div class="form-group has-feedback">
                        <label class="control-label">@Html.Lang("account") Username</label>
                        <input class="form-control"
                        type="text"
                        tabindex="1"
                        placeholder="@Html.Lang("account")"
                        ng-model="fd.account"
                        required />
                        <i class="fa-user form-control-feedback"></i>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="control-label">@Html.Lang("password") Password</label>
                        <input class="form-control"
                        type="password"
                        tabindex="2"
                        placeholder="@Html.Lang("password")"
                        ng-model="fd.password"
                        required />
                        <i class="fa-lock form-control-feedback"></i>
                    </div>

                    @*<div class="form-group">
                        <label class="control-label">語系 Language</label>
                        <select class="form-control"
                        tabindex="-1"
                        ng-model="fd.lang"
                        ng-options="m.lang as m.area for m in options_lang"
                        ng-required="true" />
                        </select>
                    </div>*@

                    <div class="form-group">
                        <label class="control-label">驗證碼 Code</label>
                        <div class="row">
                            <div class="col-xs-3">
                                <img ng-src="{{vial_img_path}}" alt="@Html.Lang("vildate_memo")" />
                            </div>
                            <div class="col-xs-5">
                                <input type="text"
                                       class="form-control"
                                       tabindex="3"
                                       capitalize
                                       required
                                       placeholder="@Html.Lang("vildate")"
                                       ng-model="fd.img_vildate" />
                            </div>
                            <div class="col-xs-4">
                                <button class="btn-warning" type="button" tabindex="-1" ng-click="revildate()"><i class="fa-refresh"></i> @Html.Lang("revildate")</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-action">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" tabindex="-1" ng-model="fd.rememberme" />
                                        <span>@Html.Lang("remember")</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-3 col-xs-offset-1">
                                <button class="btn-info" tabindex="4" type="submit"><i class="fa-key"></i> @Html.Lang("login")</button>
                            </div>
                            <div class="col-xs-4">
                                <button tabindex="-1" type="button" ng-click="forget_button_show()"><i class="fa-question-circle"></i> @Html.Lang("forget")</button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>

        </div>

    </div>

</body>

</html>
