@model ProcCore.Business.DB0.m_ProductType
@{
  ViewBag.Title = "全新推高機";
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/Content/css/page.css">
}

<ul class="brandcrumb">
    <li><a href="~/index">HOME</a></li>
    <li><a href="~/Products/Brand">全新堆高機</a></li>
    <li>@Model.type_name</li>
</ul>

@Html.Partial("sidebar")

<div id="content">

    <h2>@Model.type_name</h2>

    @foreach (var a in Model.ProductData)
    {
        <figure>
            <img src="@a.img">
            <figcaption>
                <h3>@a.product_name</h3>
                <p>承重:@a.supporting_capacity</p>
                <p>引擎規格:@a.engine</p>
                <a href="~/Products/Detail?id=@a.id" class="btn">→ Read more...</a>
            </figcaption>
        </figure>
    }

</div><!-- content //-->