@model DotWeb.ManageUserViewModel
@{
    ViewBag.Caption = MvcSiteMapProvider.SiteMaps.Current.CurrentNode.Title;
    ViewBag.MenuName = MvcSiteMapProvider.SiteMaps.Current.CurrentNode.ParentNode.Title;
}
@section IncludeCSS{}

@section IncludeScript{
    @Html.Partial("Manage/jsCommVar")

    <script>
        var aj_MasterPasswordUpdate = '@Url.Action("aj_MasterPasswordUpdate")';
        var Info_ChangePassword_Success = '@Resources.Res.Info_ChangePassword_Success';
    </script>
    @Scripts.Render("~/changepasswordCtr")
}
@section sidebar{
    @Html.Partial("Manage/vucMenu")
}

<h3 class="title">
    <span>@ViewBag.Caption</span>
</h3>



<form class="form-horizontal" ng-submit="submit()">

    <div class="form-group">
        <label class="col-xs-2 control-label">@Html.Lang(x => x.OldPassword)</label>
        <div class="col-xs-5">
            <input class="form-control" type="password" ng-model="@Html.ngName(x => x.OldPassword, Html.ngFD())" maxlength="16" required />
        </div>
        <small class="help-inline text-danger col-xs-2">必填</small>
    </div>

    <div class="form-group">
        <label class="col-xs-2 control-label">@Html.Lang(x => x.NewPassword)</label>
        <div class="col-xs-5">
            <input class="form-control" type="password" ng-model="@Html.ngName(x => x.NewPassword, Html.ngFD())" maxlength="16" required />
        </div>
        <small class="help-inline text-danger col-xs-2">必填</small>
    </div>

    <div class="form-group">
        <label class="col-xs-2 control-label">@Html.Lang(x => x.ConfirmPassword)</label>
        <div class="col-xs-5">
            <input class="form-control" type="password" ng-model="@Html.ngName(x => x.ConfirmPassword, Html.ngFD())" maxlength="16" required />
        </div>
        <small class="help-inline text-danger col-xs-2">必填</small>
    </div>

    <div class="form-action">
        <div class="col-xs-2 col-xs-offset-2">
            <button type="submit" class="btn btn-primary"><i class="fa-check"></i> @Resources.Res.Button_Save</button>
        </div>
    </div>

</form>