@model ProcCore.Business.DB0.c_AspNetUsers
@{
    ViewBag.Caption = MvcSiteMapProvider.SiteMaps.Current.CurrentNode.Title;
    ViewBag.MenuName = MvcSiteMapProvider.SiteMaps.Current.CurrentNode.ParentNode.Title;
}
@section IncludeCSS{
}

@section IncludeScript{
    @Html.Partial("Manage/jsCommVar")
    <script>
        var Info_Insert_Success = '@Resources.Res.Info_Insert_Success';
        var Info_Update_Success = '@Resources.Res.Info_Update_Success';
    </script>
    @Scripts.Render("~/usersCtr")
}
@section sidebar{
    @Html.Partial("Manage/vucMenu")
}
<form ng-submit="Init_Query()">
    <fieldset class="search-form">
        <legend class="sr-only">@Resources.Res.Search</legend>
        <p>
            <label></label>
            <input type="text" placeholder="" ng-model="@Html.sd(x => x.q.UserName)">
        </p>
        <button type="submit"><i class="fa-search"></i></button>
    </fieldset>

    <h3>@ViewBag.MenuName</h3>

    <table>
        <caption>@ViewBag.Caption</caption>
        <thead>
            <tr>
                <th class="col-xs-1 text-center">
                    <label>
                        <input type="checkbox" ng-click="SelectAllCheckDel($event)" />
                        <i class="fa-check"></i>
                    </label>
                </th>
                <th class="col-xs-1">@Resources.Res.Button_Modify</th>
                <th class="col-xs-2">@Html.Lang(x => x.m.Id)</th>
                <th class="col-xs-1">@Html.Lang(x => x.m.UserName)</th>
                <th class="col-xs-2">@Html.Lang(x => x.m.Email)</th>
            </tr>
        </thead>
        <tbody bindonce ng-repeat="gd in Grid_Items">
            <tr>
                <td class="text-center">
                    <label>
                        <input type="checkbox" ng-model="@Html.ngName(x => x.m.check_del, Html.ngGD())" />
                        <i class="fa-check"></i>
                    </label>
                </td>
                <td class="text-center">
                    <a class="popup-show" href="#" ng-click="Master_Open_Modify($index)" title="@Resources.Res.Button_Sure_Modify"><i class="fa-pencil"></i></a>
                </td>
                <td>{{@Html.ngName(x => x.m.Id, Html.ngGD())}}</td>
                <td>{{@Html.ngName(x => x.m.UserName, Html.ngGD())}}</td>
                <td>{{@Html.ngName(x => x.m.Email, Html.ngGD())}}</td>
            </tr>
        </tbody>
        <!--page-->
        <tr class="page">
            <td colspan="9">
                @Html.Partial("Manage/GridPager")
            </td>
        </tr>
    </table>
</form>
@using (Html.popWindow("show_master_edit", "Master_Edit_Close()", (String)ViewBag.Caption))
{
    <form ng-submit="Master_Submit()">
        <fieldset class="profile">
            <legend>基本資料</legend>
            <p>
                <label class="col-xs-2">@Html.Lang(x => x.m.UserName)</label>
                <input class="col-xs-2" type="text" ng-model="@Html.ngName(x => x.m.UserName, Html.ngFD())"
                       maxlength="16"
                       required />
                <em class="text-danger col-xs-1">*</em>
            </p>
            <p>
                <label class="col-xs-2">@Html.Lang("Email")</label>
                <input class="col-xs-6" type="email" ng-model="fd.Email"
                       maxlength="64"
                       required />
                <em class="text-danger col-xs-1">*</em>
            </p>

            <p ng-show="isPassword">
                <label class="col-xs-2">@Html.Lang("Password")</label>
                <input class="col-xs-2" type="password" ng-model="fd.Password"
                       maxlength="16"
                       ng-required="isPassword" />

            </p>
            <p ng-show="isPassword">
                <label class="col-xs-2">@Html.Lang("ConfirmPassword")</label>
                <input class="col-xs-2" type="password" ng-model="fd.ConfirmPassword"
                       maxlength="16"
                       ng-required="isPassword" />
            </p>

            <p>
                <label class="col-xs-2">@Html.Lang("Role")</label>
                <span ng-repeat="m in fd.role_array">
                    <label class="col-xs-1 text-right">
                        <input type="checkbox"
                               ng-model="m.role_use" />
                        <i class="fa-check"></i>
                    </label>
                    <label class="col-xs-1">{{m.role_name}}</label>
                </span>
            </p>
        </fieldset>

        <fieldset class="send">
            <button type="submit" class="btn-primary"><i class="fa-check"></i> @Resources.Res.Button_Sure</button>
        </fieldset>
    </form>
}
